
body {
    background: #365566;
    font-family: Arial;
}
h1 {
    color: red;
}
/* l9RCQGAGvxsUaMmpNVjZRaIbxLIsuvf8Y2f459AVF24zPiZf10GLM7tAYeYQTap74lM0mZo0cV1tRGD8tWzJ4H4kGZjgHHRZAQOo96ibUdzNdNJQjeEThfYQ6oZ8nSbl3WkpJzCNWQf0T9xUs8QsOpbqlPftSKvxyW2MknMRcys4ggbxgk6Dj2KFEo1ydXD8RKroYq3Y */
